.search-filter {
    margin-top: 30px;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
    .search-row {
        .search-btn {
            margin-left: 25px;
            font-size: 0.75rem;
            line-height: 26px;
        }
        margin-bottom: 15px;
    }
    .pagination-row {
        display: flex;
        justify-content: space-around;
    }
}

@media (max-width: 900px) {
    .search-filter {
        margin-top: 20px;
        margin-bottom: 10px;
    
        .search-row {
            .search-btn {
                line-height: 22px;
            }
            margin-bottom: 12px;
        }
    }
}
