.book-page {
    margin-top: 30px;
    padding: 0 20px;
}

.book-title {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);

    &__main {
        font-size: 1.5rem;
        margin-bottom: 4px;
    }

    &__secondary {
        font-size: 1rem;
        color: var(--primary-lite-color);
    }

    .add-bookmark-icon {
        cursor: pointer;
        path {
            fill: var(--add-bookmark-icon-color);
        }
    }

    .remove-bookmark-icon {
        cursor: pointer;
        path {
            fill: var(--remove-bookmark-icon-color);
        }
    }
}

.details {
    display: flex;
    justify-content: space-between;
    

    &-image {
        max-width: 35%;
        width: 544px;
        border: 1px solid #ddd;

        img {
            width: 100%;
        }
    }

    &-info {
        max-width: 55%;

        text-align: left;
        width: 448px;
        display: flex;
        flex-direction: column;
        gap: 30px;
        
        &-list {
            display: flex;
            flex-direction: column;
            font-family: 'Raleway';
        }

        &-item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;

            &__key {
                color: var(--primary-lite-color);
                margin-right: 20px;
            }

            &__value {
                color: var(--primary-color);
            }
        }

        &__price {
            font-weight: 600;
            color: var(--price-color);
            font-size: 1.25rem;
        }
    }
}

.description {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    font-family: 'Raleway';
    color: var(--primary-color);
}

@media (max-width: 460px) {
    .book-title {
        margin-bottom: 0;
    }
    
    .details {
        display: block;
    
        &-image {
            max-width: initial;
            width: initial;

            margin-bottom: 20px;
        }
    
        &-info {
            max-width: initial;
            width: initial;
            gap: 15px;
        }
    }
}
