.header-navigation-wrap {
    margin: 0 15px;
}

.header-navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 6px;

    &__item {
        margin-right: 20px;
        display: flex;
        align-items: center;
        border-left: 2px solid transparent;
        border-bottom: 2px solid transparent;
        
        &:last-child {
            margin-right: 0;
        }

        &-link {
            text-transform: capitalize;
            font-style: normal;
            font-weight: 600;
            font-size: 1rem;
            line-height: 22px;
            color: var(--primary-color);
            border-bottom: 2px solid transparent;
            display: flex;
            padding-bottom: 4px;

            &:hover {
                border-bottom: 2px solid var(--primary-color);
                transition: 0.2s;
            }

            &._active {
                border-bottom: 2px solid var(--primary-color);
                transition: 0.2s;
            }
        }
    }

    .navigation-icon {
        width: 25px;
        height: 25px;
        margin-right: 3px;
    }
}

@media (max-width: 900px) {
    .header-navigation {
        &__item {
            &-link {
                line-height: 18px;
            }
        }
    
        .navigation-icon {
            width: 20px;
            height: 20px;
        }
    }
}

@media (max-width: 475px) {
    .header-navigation {
        &__item {
            &-link {
                .link-text {
                    display: none;
                }
            }
        }
    
        .navigation-icon {
            margin-right: 0;
        }
    }
}

@media (max-width: 360px) {
    .header-navigation-wrap {
        margin: 0 2px;
    }

    .header-navigation {
        &__item {
            margin-right: 5px;
            &-link {
                .link-text {
                    display: none;
                }
            }
        }
    }
}