.toggle-group  {
    &-item.MuiToggleButton-sizeSmall
    {
        padding: 3px;
        font-size: 0.75rem;
        font-family: 'Rubik';
        &.Mui-selected {
            background-color: rgb(25 118 210 / 20%);
        }
    }
}
